
input{
    font-family: "Poppins-Regular";
    font-size: 19px;
    border-radius: 14px;
    border-color: #00c6ff;
    text-indent: 26px;
    height: 49px;

}
.margin-top{
    display: inline-block;
    margin-top: 26px;
    padding-right: 6px;
}
#name{
    margin-top: 43px;
}
#validacion{
    display:inline-block;
    text-align: left;
    align-items: center;
}
.validacion-correcta, .validacion-cursor{
    background: url(Spirte-validaciones.png);

}
.validacion-correcta{
    
    background-position: 0px 0px;
    width: 36px;
    height: 36px;
}
.validacion-cursor{
    background-position:36px 0px;
    width: 36px;
    height: 36px;
}
::placeholder{
    font-family: "Body";
    font-size: 20px;
    text-indent: 26px;
}
.mostar-contraseña{
    background: url(images/contraseña.png) -10px -10px ;
    width: 20px;
    height: 17px;
}
.ocutar-contraseña{
    background: url(images/contraseña.png) -50px -10px;
    width: 20px;
    height: 13px;

}
.info{
    background: url(images/INFO.png) -10px -10px;
    width: 20px;
    height: 20px;
    padding-top: 4px;
}
.info-2{
    background: url(images/info-2.png) -10px -10px;
    width: 250px;
    height: 130px;
    padding-right: 2px;
}
small p{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    font-family: caption;
    color: #fb8179;
    padding: 0px 0px 0px 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 12px;
}
.fonte{
    font-size: 13px ;
}
#ultimo{
    margin-bottom: 25px;
}

.custom-radio-checkbox{
    display: inline-flex;
    text-align: left;
    cursor: pointer;
}
.custom-radio-checkbox__input{
    margin-top: -16px;
    margin-right: 11px;
}
.cutom-radio-checkbox__text{
    display: inline-block;
    font-family: caption;
    font-size: 13px;
    width: 210px;
    color: #7D7B7B;

}
.custom-radio-checkbox__show--radio{
    background-image: url(images/radio-uncheck.png) ;
}
.custom-radio-checkbox > .custom-radio-checkbox__show{
    display: inline-block;
    width: 16,5px;
    height: 16,5px;
    margin-right: .5rem;
    background-size: cover;
}
.custom-radio-checkbox > .custom-radio-checkbox__input:checked + .custom-radio-checkbox__show--radio{
    background-image: url(images/radio-check.png);
}
#section-2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}
#submit{
    font-family: "Poppins-Medium";
    background-color: #000fff ;
    font-size: 18px;
    color: #ffffff;
    text-indent: -2px;
    border-radius: 100px;
    margin-top: 41px;
    margin-bottom: 58px;
    width: 171px;
    height: 41px;
}
#contenedor-veri{
    display:inline-block;
    text-align: center ;
    align-items: center;
}
.verificacion{
    display: inline-block;
    background: url(images/css_sprites.png) -10px -10px;
    width: 103px;
    height: 103px;
}
.vali{
    display: inline-block;
    color: #00c6ff;
    width: 120px;
    margin: 0px;
}
#contenedor-veri2{
    display: inline-block;
    text-align: center;
    align-items: center;
}
.verificacion-cursor{
    display: inline-block;
    justify-content: center;
    background: url(images/css_sprites.png) -133px -10px;
    width: 85px;
    height: 102px;
}
.vali2{
    display: inline-block;
    color: #00c6ff;
    width: 170px;
    margin: 0px;
}
.aside__panel{
    background: #00c6ff;
}

@media(max-width:768px) {
    .aside__panel { display: none;}
    .section__register {width:100%;}
}