.validacion-Correcto, .validacion-Error{
	background: url(sprites.png) no-repeat;
}

.validacion-Correcto{
	background-position: 0 0;
	width: 20px;
	height: 20px;
}

.validacion-Error{
	background-position: -34px 0;
	width: 20px;
	height: 20px;
}

